QuanLyNhanSu/QuanLyNhanSu/bin/Debug/QuanLyNhanSu.exe
QuanLyNhanSu/QuanLyNhanSu/bin/*
QuanLyNhanSu/QuanLyNhanSu/obj/*
QuanLyNhanSu/QuanLyNhanSu_BUS/bin/*
QuanLyNhanSu/QuanLyNhanSu_BUS/obj/*
QuanLyNhanSu/QuanLyNhanSu_DAL/bin/*
QuanLyNhanSu/QuanLyNhanSu_DAL/obj/*
QuanLyNhanSu/QuanLyNhanSu_Entity/bin/*
QuanLyNhanSu/QuanLyNhanSu_Entity/obj/*
QuanLyNhanSu/.vs/QuanLyNhanSu/v14/.suo